<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <head th:replace="fragments/fragment :: topfragment(title='View Student by NPM')"></head>
    </head>
    <body>
    
    <div th:replace="fragments/fragment :: header"></div>
    <h2 th:text=" 'Login as ' + ${#httpServletRequest.remoteUser}">Login as</h2>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
	<br/>
       	<h3 th:text="'NPM = ' + ${student.npm}">Student NPM</h3>
       	<h3 th:text="'Name = ' + ${student.name}">Student Name</h3>
       	<h3 th:text="'GPA = ' + ${student.gpa}">Student GPA</h3>
    </body>
</html>

